In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [4]:
cd /Users/yanglingxi/Documents/GitHub/Anti-Corruption/Final datasets/USAID/country-level datasets

/Users/yanglingxi/Documents/GitHub/Anti-Corruption/Final datasets/USAID/country-level datasets

In [18]:
# country_level_xiang_and_lingxi.csv dataset
df1 = pd.read_csv('country_level_xiang_and_lingxi.csv')
df1.sort_values('country', ascending=True,inplace=True)
df1.drop(columns = 'Unnamed: 0', inplace = True)
df1.head(5)

,country,duration_mean,duration_min,duration_max,duration_median,topic0_mean,topic0_min,topic0_max,topic0_median,topic1_mean,...,Governance_count,Healthcare_count,Public_Finance_count,Environment_count,Private_Sector_count,Democracy_and_Governance_count,Gender_Equality_count,Natural_Resource_count,Education_count,max_count_sector_categories
0,Afghanistan,3.071429,0,7,3.0,0.036429,0.03,0.06,0.030,0.037857,...,1,0,0,0,0,0,0,0,0,Local_Government_count
1,Albania,3.750000,2,5,3.5,0.037500,0.03,0.05,0.040,0.078750,...,0,1,1,0,0,0,0,0,0,Rule_of_Law_count
2,Angola,5.000000,5,5,5.0,0.030000,0.03,0.03,0.030,0.030000,...,0,0,0,0,0,0,0,0,0,Local_Government_count
3,Armenia,4.250000,4,5,4.0,0.035000,0.03,0.04,0.035,0.035000,...,0,0,0,0,0,0,0,0,0,Civil_Society_count
4,Azerbaijan,2.800000,1,4,3.0,0.032000,0.03,0.04,0.030,0.032000,...,0,0,1,0,0,0,0,0,0,Rule_of_Law_countLegislature_countEconomic_Gro...

In [26]:
# country_level_Jen.csv' dataset
df2 = pd.read_csv('country_level_Jen.csv')
df2.sort_values('country', ascending=True,inplace=True)
df2.drop(columns = 'country', inplace = True)
df2.head(5)

,desc_senti_score_median,desc_sub_score_median,res_senti_score_median,res_sub_score_median,desc_senti_score_mean,desc_sub_score_mean,res_senti_score_mean,res_sub_score_mean,desc_senti_score_min,desc_sub_score_min,...,res_senti_score_max,res_sub_score_max,intervention_type_Awareness_count,intervention_type_Transparency_count,intervention_type_Assessment_count,intervention_type_Accountability_count,intervention_type_Participation_count,intervention_type_Enforcement_count,intervention_type_Study_count,intervention_type_Citizen_Media_Business_Engagement_Participation_count
0,0.000000,0.200000,0.007407,0.442262,0.002660,0.250124,0.095316,0.392658,-0.355556,0.000000,...,0.900000,0.800000,8,13,4,14,13,0,0,0
1,0.025000,0.421111,-0.055508,0.291667,0.053542,0.411111,-0.092047,0.338218,-0.250000,0.008333,...,0.044643,0.700833,1,8,0,6,2,3,0,0
2,0.140625,0.219792,-0.188889,0.320833,0.140625,0.219792,-0.188889,0.320833,0.140625,0.219792,...,-0.188889,0.320833,0,1,0,1,0,0,0,0
3,-0.103125,0.310417,0.000000,0.347470,-0.108705,0.348065,-0.045443,0.346354,-0.328571,0.000000,...,0.023810,0.690476,1,1,0,0,2,1,0,0
4,-0.015625,0.463750,0.000000,0.314892,0.021792,0.342333,-0.078747,0.281026,-0.250000,0.066667,...,0.011905,0.620000,1,3,0,2,1,1,0,0

In [32]:
# country_level_Yue.csvdataset
df3 = pd.read_csv('country_level_Yue.csv')
df3.sort_values('country', ascending=True,inplace=True)
df3.drop(columns = 'country', inplace = True)
df3.head(5)

,awd_value_min,awd_value_max,awd_value_mean,awd_value_median,awd_amount_very_low,awd_amount_low,awd_amount_median_low,awd_amount_median,awd_amount_median_high,awd_amount_high,awd_amount_very_high
0,1635357.0,349078330.0,6.950936e+07,49100468.0,4,1,3,1,7,7,5
1,5100000.0,15731000.0,9.396956e+06,8809162.5,0,0,6,2,0,0,0
2,16900000.0,16900000.0,1.690000e+07,16900000.0,0,0,0,1,0,0,0
3,548000.0,15500000.0,8.619596e+06,9810789.0,1,0,1,1,0,0,0
4,800000.0,12029205.0,5.832565e+06,5250528.0,1,1,1,1,0,0,0

In [23]:
df = pd.concat([df1,df2,df3], axis=1)
df

,country,duration_mean,duration_min,duration_max,duration_median,topic0_mean,topic0_min,topic0_max,topic0_median,topic1_mean,...,awd_value_max,awd_value_mean,awd_value_median,awd_amount_very_low,awd_amount_low,awd_amount_median_low,awd_amount_median,awd_amount_median_high,awd_amount_high,awd_amount_very_high
0,Afghanistan,3.071429,0,7,3.0,0.036429,0.03,0.06,0.030,0.037857,...,349078330.0,6.950936e+07,49100468.00,4,1,3,1,7,7,5
1,Albania,3.750000,2,5,3.5,0.037500,0.03,0.05,0.040,0.078750,...,15731000.0,9.396956e+06,8809162.50,0,0,6,2,0,0,0
2,Angola,5.000000,5,5,5.0,0.030000,0.03,0.03,0.030,0.030000,...,16900000.0,1.690000e+07,16900000.00,0,0,0,1,0,0,0
3,Armenia,4.250000,4,5,4.0,0.035000,0.03,0.04,0.035,0.035000,...,15500000.0,8.619596e+06,9810789.00,1,0,1,1,0,0,0
4,Azerbaijan,2.800000,1,4,3.0,0.032000,0.03,0.04,0.030,0.032000,...,12029205.0,5.832565e+06,5250528.00,1,1,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,Ukraine,3.375000,2,5,3.0,0.035000,0.03,0.04,0.035,0.041250,...,16991610.0,9.780469e+06,9042756.14,0,1,3,2,0,0,0
70,Vietnam,3.500000,3,4,3.5,0.040000,0.04,0.04,0.040,0.040000,...,13595736.0,1.266630e+07,12666301.00,0,0,0,2,0,0,0
71,West Bank and Gaza,4.200000,2,6,4.5,0.034000,0.03,0.05,0.030,0.034000,...,100000000.0,3.327894e+07,21419916.50,0,1,1,4,2,2,0
72,Yemen,4.000000,3,5,4.0,0.036667,0.03,0.04,0.040,0.036667,...,43000000.0,2.251645e+07,21610314.78,0,1,0,1,1,0,0
73,Zambia,2.500000,2,3,2.5,0.035000,0.03,0.04,0.035,0.035000,...,22735000.0,1.377101e+07,13771009.00,0,1,0,1,0,0,0

In [24]:
df.to_csv('combined_usaid_country_Nov_23.csv')