In [3]:
import pandas as pd
import numpy as np

F:\programfile\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
F:\programfile\lib\site-packages\numpy\.libs\libopenblas.IPBC74C7KURV7CB2PKT5Z5FNR3SIBV4J.gfortran-win_amd64.dll
F:\programfile\lib\site-packages\numpy\.libs\libopenblas.NOIJJG62EMASZI6NYURL6JBKM4EVBGM7.gfortran-win_amd64.dll
  stacklevel=1)

In [21]:
df = pd.read_csv('combined_usaid_Nov_18.csv')

In [22]:
df.columns

Index(['uuid', 'region', 'country', 'proj_nm', 'st_date', 'end_date',
       'awd_amount', 'awd_value', 'implementer', 'sector', 'intervention',
       'intervention_type', 'proj_desc', 'proj_res', 'rfp_rftop', 'final_res',
       'mind_eval', 'final_eval', 'audit', 'interim_rep', 'addl_docs',
       'addl_info', 'corruption', 'stability', 'desc_senti_score',
       'desc_sub_score', 'res_senti_score', 'res_sub_score', 'Topic0',
       'Topic1', 'Topic2', 'Topic3', 'Topic4', 'dominant_topic',
       'cosine_sim_cluster'],
      dtype='object')

In [23]:
len(df)

315

##### we find that the values of some rows of end_date column are "-",so we delete them

In [24]:
df=df.drop(index=(df.loc[(df['st_date']=='-')].index))
df=df.drop(index=(df.loc[(df['end_date']=='-')].index))

F:\programfile\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

In [25]:
len(df)

313

In [27]:
df["end_date"]=df["end_date"].astype('int')

In [28]:
df["st_date"]=df["st_date"].astype('int')

In [29]:
df["duration"]=df["end_date"]-df["st_date"]

In [30]:
df.columns

Index(['uuid', 'region', 'country', 'proj_nm', 'st_date', 'end_date',
       'awd_amount', 'awd_value', 'implementer', 'sector', 'intervention',
       'intervention_type', 'proj_desc', 'proj_res', 'rfp_rftop', 'final_res',
       'mind_eval', 'final_eval', 'audit', 'interim_rep', 'addl_docs',
       'addl_info', 'corruption', 'stability', 'desc_senti_score',
       'desc_sub_score', 'res_senti_score', 'res_sub_score', 'Topic0',
       'Topic1', 'Topic2', 'Topic3', 'Topic4', 'dominant_topic',
       'cosine_sim_cluster', 'duration'],
      dtype='object')

In [31]:
df.head(5)

,uuid,region,country,proj_nm,st_date,end_date,awd_amount,awd_value,implementer,sector,...,res_senti_score,res_sub_score,Topic0,Topic1,Topic2,Topic3,Topic4,dominant_topic,cosine_sim_cluster,duration
0,1,South and Central Asia (SCA),Afghanistan,Assistance for Afghanistan's Anti-Corruption A...,2010,2013,e) $25 M-$50 M,26642989,Management Systems International (MSI),"Independent Agencies, Civil Society",...,0.120000,0.713333,0.03,0.03,0.03,0.03,0.89,4,82,3
1,2,South and Central Asia (SCA),Afghanistan,Rule of Law Stabilization Program - Formal Com...,2010,2012,e) $25 M-$50 M,33700000,TetraTech ARD,Rule of Law,...,-0.033333,0.500000,0.03,0.03,0.03,0.41,0.49,4,11,2
2,3,South and Central Asia (SCA),Afghanistan,Afghanistan Rule of Law Stabilization Project ...,2011,2012,c) $5 M-$10 M,10000000,"Checchi and Company Consulting, Inc.",Rule of Law,...,-0.050000,0.400000,0.05,0.05,0.05,0.81,0.05,3,12,1
3,4,South and Central Asia (SCA),Afghanistan,Political Party Assessment,2012,2012,a) <$1 M,NaN,"Checchi and Company Consulting, Inc.",Elections and Political Processes,...,0.172727,0.713636,0.04,0.04,0.12,0.04,0.74,4,49,0
4,30,Europe and Eurasia (E&E),Albania,Justice Sector Strengthening Project (JuST),2010,2015,c) $5 M-$10 M,9012613,Chemonics,"Rule of Law, Civil Society",...,-0.040000,0.473333,0.04,0.04,0.04,0.46,0.43,3,12,5

# group by contry

### duration(end_year-st_year)

In [48]:
duration_mean=df.groupby('country')['duration'].mean()
duration_min=df.groupby('country')['duration'].min()
duration_max=df.groupby('country')['duration'].max()
duration_median=df.groupby('country')['duration'].median()

In [49]:
duration_mean

country
Afghanistan           3.071429
Albania               3.750000
Angola                5.000000
Armenia               4.250000
Azerbaijan            2.800000
                        ...
Ukraine               3.375000
Vietnam               3.500000
West Bank and Gaza    4.200000
Yemen                 4.000000
Zambia                2.500000
Name: duration, Length: 74, dtype: float64

In [50]:
duration_mean=pd.DataFrame(duration_mean)
duration_min=pd.DataFrame(duration_min)
duration_max=pd.DataFrame(duration_max)
duration_median=pd.DataFrame(duration_median)

In [66]:
duration=pd.merge(duration_mean,duration_min,on='country')

In [67]:
duration

                    duration_x  duration_y
country
Afghanistan           3.071429           0
Albania               3.750000           2
Angola                5.000000           5
Armenia               4.250000           4
Azerbaijan            2.800000           1
...                        ...         ...
Ukraine               3.375000           2
Vietnam               3.500000           3
West Bank and Gaza    4.200000           2
Yemen                 4.000000           3
Zambia                2.500000           2

[74 rows x 2 columns]

In [68]:
duration=pd.merge(duration,duration_max,on='country')

In [69]:
duration=pd.merge(duration,duration_median,on='country')

In [73]:
columns = [ 'duration_mean', 'duration_min','duration_max','duration_median']   #改列名
duration.columns = columns
duration.columns

Index(['duration_mean', 'duration_min', 'duration_max', 'duration_median'], dtype='object')

In [74]:
duration

                    duration_mean  duration_min  duration_max  duration_median
country
Afghanistan              3.071429             0             7              3.0
Albania                  3.750000             2             5              3.5
Angola                   5.000000             5             5              5.0
Armenia                  4.250000             4             5              4.0
Azerbaijan               2.800000             1             4              3.0
...                           ...           ...           ...              ...
Ukraine                  3.375000             2             5              3.0
Vietnam                  3.500000             3             4              3.5
West Bank and Gaza       4.200000             2             6              4.5
Yemen                    4.000000             3             5              4.0
Zambia                   2.500000             2             3              2.5

[74 rows x 4 columns]

### topic 2

In [75]:
topic2_mean=df.groupby('country')['Topic2'].mean()
topic2_min=df.groupby('country')['Topic2'].min()
topic2_max=df.groupby('country')['Topic2'].max()
topic2_median=df.groupby('country')['Topic2'].median()

In [76]:
topic2_mean=pd.DataFrame(topic2_mean)
topic2_min=pd.DataFrame(topic2_min)
topic2_max=pd.DataFrame(topic2_max)
topic2_median=pd.DataFrame(topic2_median)

In [77]:
topic2=pd.merge(topic2_mean,topic2_min,on='country')

In [78]:
topic2=pd.merge(topic2,topic2_max,on='country')

In [79]:
topic2=pd.merge(topic2,topic2_median,on='country')

In [80]:
columns = [ 'topic2_mean', 'topic2_min','topic2_max','topic2_median']   #改列名
topic2.columns = columns
topic2.columns

Index(['topic2_mean', 'topic2_min', 'topic2_max', 'topic2_median'], dtype='object')

In [81]:
topic2

                    topic2_mean  topic2_min  topic2_max  topic2_median
country
Afghanistan            0.066071        0.03        0.75          0.035
Albania                0.053750        0.03        0.17          0.040
Angola                 0.030000        0.03        0.03          0.030
Armenia                0.035000        0.03        0.04          0.035
Azerbaijan             0.032000        0.03        0.04          0.030
...                         ...         ...         ...            ...
Ukraine                0.038750        0.03        0.07          0.035
Vietnam                0.040000        0.04        0.04          0.040
West Bank and Gaza     0.047000        0.03        0.16          0.030
Yemen                  0.096667        0.03        0.22          0.040
Zambia                 0.035000        0.03        0.04          0.035

[74 rows x 4 columns]

### topic3

In [82]:
topic3_mean=df.groupby('country')['Topic3'].mean()
topic3_min=df.groupby('country')['Topic3'].min()
topic3_max=df.groupby('country')['Topic3'].max()
topic3_median=df.groupby('country')['Topic3'].median()

In [83]:
topic3_mean=pd.DataFrame(topic3_mean)
topic3_min=pd.DataFrame(topic3_min)
topic3_max=pd.DataFrame(topic3_max)
topic3_median=pd.DataFrame(topic3_median)

In [84]:
topic3=pd.merge(topic3_mean,topic3_min,on='country')

In [85]:
topic3=pd.merge(topic3,topic3_max,on='country')

In [86]:
topic3=pd.merge(topic3,topic3_median,on='country')

In [87]:
columns = [ 'topic3_mean', 'topic3_min','topic3_max','topic3_median']   #改列名
topic3.columns = columns
topic3.columns

Index(['topic3_mean', 'topic3_min', 'topic3_max', 'topic3_median'], dtype='object')

In [88]:
topic3

                    topic3_mean  topic3_min  topic3_max  topic3_median
country
Afghanistan            0.176429        0.03        0.84          0.040
Albania                0.308750        0.03        0.78          0.210
Angola                 0.030000        0.03        0.03          0.030
Armenia                0.035000        0.03        0.04          0.035
Azerbaijan             0.150000        0.03        0.62          0.030
...                         ...         ...         ...            ...
Ukraine                0.541250        0.03        0.83          0.660
Vietnam                0.845000        0.84        0.85          0.845
West Bank and Gaza     0.313000        0.03        0.88          0.040
Yemen                  0.036667        0.03        0.04          0.040
Zambia                 0.430000        0.03        0.83          0.430

[74 rows x 4 columns]

### topic 4

In [89]:
topic4_mean=df.groupby('country')['Topic4'].mean()
topic4_min=df.groupby('country')['Topic4'].min()
topic4_max=df.groupby('country')['Topic4'].max()
topic4_median=df.groupby('country')['Topic4'].median()

In [90]:
topic4_mean=pd.DataFrame(topic4_mean)
topic4_min=pd.DataFrame(topic4_min)
topic4_max=pd.DataFrame(topic4_max)
topic4_median=pd.DataFrame(topic4_median)

In [91]:
topic4=pd.merge(topic4_mean,topic4_min,on='country')

In [92]:
topic4=pd.merge(topic4,topic4_max,on='country')

In [93]:
topic4=pd.merge(topic4,topic4_median,on='country')

In [94]:
columns = [ 'topic4_mean', 'topic4_min','topic4_max','topic4_median']   #改列名
topic4.columns = columns
topic4.columns

Index(['topic4_mean', 'topic4_min', 'topic4_max', 'topic4_median'], dtype='object')

In [95]:
topic4

                    topic4_mean  topic4_min  topic4_max  topic4_median
country
Afghanistan            0.679643        0.04        0.89          0.835
Albania                0.523750        0.04        0.87          0.565
Angola                 0.870000        0.87        0.87          0.870
Armenia                0.862500        0.83        0.89          0.865
Azerbaijan             0.752000        0.30        0.87          0.870
...                         ...         ...         ...            ...
Ukraine                0.338750        0.04        0.88          0.215
Vietnam                0.040000        0.04        0.04          0.040
West Bank and Gaza     0.580000        0.03        0.90          0.785
Yemen                  0.800000        0.65        0.90          0.850
Zambia                 0.450000        0.04        0.86          0.450

[74 rows x 4 columns]

### merge them to country_df

In [96]:
country_df=pd.merge(duration,topic2,on='country')
country_df=pd.merge(country_df,topic3,on='country')
country_df=pd.merge(country_df,topic4,on='country')

In [97]:
country_df

,duration_mean,duration_min,duration_max,duration_median,topic2_mean,topic2_min,topic2_max,topic2_median,topic3_mean,topic3_min,topic3_max,topic3_median,topic4_mean,topic4_min,topic4_max,topic4_median
country,,,,,,,,,,,,,,,,
Afghanistan,3.071429,0,7,3.0,0.066071,0.03,0.75,0.035,0.176429,0.03,0.84,0.040,0.679643,0.04,0.89,0.835
Albania,3.750000,2,5,3.5,0.053750,0.03,0.17,0.040,0.308750,0.03,0.78,0.210,0.523750,0.04,0.87,0.565
Angola,5.000000,5,5,5.0,0.030000,0.03,0.03,0.030,0.030000,0.03,0.03,0.030,0.870000,0.87,0.87,0.870
Armenia,4.250000,4,5,4.0,0.035000,0.03,0.04,0.035,0.035000,0.03,0.04,0.035,0.862500,0.83,0.89,0.865
Azerbaijan,2.800000,1,4,3.0,0.032000,0.03,0.04,0.030,0.150000,0.03,0.62,0.030,0.752000,0.30,0.87,0.870
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Ukraine,3.375000,2,5,3.0,0.038750,0.03,0.07,0.035,0.541250,0.03,0.83,0.660,0.338750,0.04,0.88,0.215
Vietnam,3.500000,3,4,3.5,0.040000,0.04,0.04,0.040,0.845000,0.84,0.85,0.845,0.040000,0.04,0.04,0.040
West Bank and Gaza,4.200000,2,6,4.5,0.047000,0.03,0.16,0.030,0.313000,0.03,0.88,0.040,0.580000,0.03,0.90,0.785
Yemen,4.000000,3,5,4.0,0.096667,0.03,0.22,0.040,0.036667,0.03,0.04,0.040,0.800000,0.65,0.90,0.850
Zambia,2.500000,2,3,2.5,0.035000,0.03,0.04,0.035,0.430000,0.03,0.83,0.430,0.450000,0.04,0.86,0.450

In [98]:
country_df.to_csv('country_df.csv')

# group by region

### duration

In [104]:
duration_mean2=df.groupby('region')['duration'].mean()
duration_min2=df.groupby('region')['duration'].min()
duration_max2=df.groupby('region')['duration'].max()
duration_median2=df.groupby('region')['duration'].median()

In [105]:
duration_mean2=pd.DataFrame(duration_mean2)
duration_min2=pd.DataFrame(duration_min2)
duration_max2=pd.DataFrame(duration_max2)
duration_median2=pd.DataFrame(duration_median2)

In [109]:
duration_region=pd.merge(duration_mean2,duration_min2,on='region')
duration_region=pd.merge(duration_region,duration_max2,on='region')
duration_region=pd.merge(duration_region,duration_median2,on='region')

In [110]:
columns = [ 'duration_mean', 'duration_min','duration_max','duration_median']   #改列名
duration_region.columns = columns
duration_region.columns

Index(['duration_mean', 'duration_min', 'duration_max', 'duration_median'], dtype='object')

In [112]:
duration_region

,duration_mean,duration_min,duration_max,duration_median
region,,,,
East Asia and Pacific (EAP),3.767857,0,10,4
Europe and Eurasia (E&E),3.623188,0,9,4
Global,6.000000,6,6,6
Latin America and Caribbean (LAC),3.693878,0,6,4
Middle East and North Africa (MENA),4.117647,0,10,4
South and Central Asia (SCA),3.345455,0,9,3
Sub-Saharan Africa (SSA),2.937500,0,5,3

### topic2

In [113]:
topic2_mean2=df.groupby('region')['Topic2'].mean()
topic2_min2=df.groupby('region')['Topic2'].min()
topic2_max2=df.groupby('region')['Topic2'].max()
topic2_median2=df.groupby('region')['Topic2'].median()

In [115]:
topic2_mean2=pd.DataFrame(topic2_mean2)
topic2_min2=pd.DataFrame(topic2_min2)
topic2_max2=pd.DataFrame(topic2_max2)
topic2_median2=pd.DataFrame(topic2_median2)

In [117]:
topic2_region=pd.merge(topic2_mean2,topic2_min2,on='region')
topic2_region=pd.merge(topic2_region,topic2_max2,on='region')
topic2_region=pd.merge(topic2_region,topic2_median2,on='region')

In [118]:
columns = [ 'topic2_mean', 'topic2_min','topic2_max','topic2_median']   #改列名
topic2_region.columns = columns
topic2_region.columns

Index(['topic2_mean', 'topic2_min', 'topic2_max', 'topic2_median'], dtype='object')

In [119]:
topic2_region

,topic2_mean,topic2_min,topic2_max,topic2_median
region,,,,
East Asia and Pacific (EAP),0.044643,0.03,0.19,0.035
Europe and Eurasia (E&E),0.041014,0.03,0.27,0.030
Global,0.250000,0.25,0.25,0.250
Latin America and Caribbean (LAC),0.053878,0.03,0.74,0.040
Middle East and North Africa (MENA),0.052745,0.03,0.66,0.030
South and Central Asia (SCA),0.052727,0.03,0.75,0.040
Sub-Saharan Africa (SSA),0.070625,0.03,0.74,0.040

### topic3

In [120]:
topic3_mean2=df.groupby('region')['Topic3'].mean()
topic3_min2=df.groupby('region')['Topic3'].min()
topic3_max2=df.groupby('region')['Topic3'].max()
topic3_median2=df.groupby('region')['Topic3'].median()

In [121]:
topic3_mean2=pd.DataFrame(topic3_mean2)
topic3_min2=pd.DataFrame(topic3_min2)
topic3_max2=pd.DataFrame(topic3_max2)
topic3_median2=pd.DataFrame(topic3_median2)

In [122]:
topic3_region=pd.merge(topic3_mean2,topic3_min2,on='region')
topic3_region=pd.merge(topic3_region,topic3_max2,on='region')
topic3_region=pd.merge(topic3_region,topic3_median2,on='region')

In [123]:
columns = [ 'topic3_mean', 'topic3_min','topic3_max','topic3_median']   #改列名
topic3_region.columns = columns
topic3_region.columns

Index(['topic3_mean', 'topic3_min', 'topic3_max', 'topic3_median'], dtype='object')

In [124]:
topic3_region

,topic3_mean,topic3_min,topic3_max,topic3_median
region,,,,
East Asia and Pacific (EAP),0.271786,0.03,0.88,0.05
Europe and Eurasia (E&E),0.352029,0.03,0.89,0.11
Global,0.050000,0.05,0.05,0.05
Latin America and Caribbean (LAC),0.167551,0.03,0.88,0.04
Middle East and North Africa (MENA),0.350980,0.03,0.89,0.05
South and Central Asia (SCA),0.227455,0.03,0.87,0.04
Sub-Saharan Africa (SSA),0.126562,0.03,0.86,0.04

### topic4

In [125]:
topic4_mean2=df.groupby('region')['Topic4'].mean()
topic4_min2=df.groupby('region')['Topic4'].min()
topic4_max2=df.groupby('region')['Topic4'].max()
topic4_median2=df.groupby('region')['Topic4'].median()

In [126]:
topic4_mean2=pd.DataFrame(topic4_mean2)
topic4_min2=pd.DataFrame(topic4_min2)
topic4_max2=pd.DataFrame(topic4_max2)
topic4_median2=pd.DataFrame(topic4_median2)

In [127]:
topic4_region=pd.merge(topic4_mean2,topic4_min2,on='region')
topic4_region=pd.merge(topic4_region,topic4_max2,on='region')
topic4_region=pd.merge(topic4_region,topic4_median2,on='region')

In [128]:
columns = [ 'topic4_mean', 'topic4_min','topic4_max','topic4_median']   #改列名
topic4_region.columns = columns
topic4_region.columns

Index(['topic4_mean', 'topic4_min', 'topic4_max', 'topic4_median'], dtype='object')

In [129]:
topic4_region

,topic4_mean,topic4_min,topic4_max,topic4_median
region,,,,
East Asia and Pacific (EAP),0.609464,0.03,0.90,0.785
Europe and Eurasia (E&E),0.529855,0.03,0.90,0.710
Global,0.610000,0.61,0.61,0.610
Latin America and Caribbean (LAC),0.687143,0.03,0.89,0.840
Middle East and North Africa (MENA),0.526667,0.03,0.90,0.750
South and Central Asia (SCA),0.644545,0.03,0.90,0.840
Sub-Saharan Africa (SSA),0.715313,0.04,0.89,0.840

In [130]:
region_df=pd.merge(duration_region,topic2_region,on='region')
region_df=pd.merge(region_df,topic3_region,on='region')
region_df=pd.merge(region_df,topic4_region,on='region')

In [131]:
region_df

,duration_mean,duration_min,duration_max,duration_median,topic2_mean,topic2_min,topic2_max,topic2_median,topic3_mean,topic3_min,topic3_max,topic3_median,topic4_mean,topic4_min,topic4_max,topic4_median
region,,,,,,,,,,,,,,,,
East Asia and Pacific (EAP),3.767857,0,10,4,0.044643,0.03,0.19,0.035,0.271786,0.03,0.88,0.05,0.609464,0.03,0.90,0.785
Europe and Eurasia (E&E),3.623188,0,9,4,0.041014,0.03,0.27,0.030,0.352029,0.03,0.89,0.11,0.529855,0.03,0.90,0.710
Global,6.000000,6,6,6,0.250000,0.25,0.25,0.250,0.050000,0.05,0.05,0.05,0.610000,0.61,0.61,0.610
Latin America and Caribbean (LAC),3.693878,0,6,4,0.053878,0.03,0.74,0.040,0.167551,0.03,0.88,0.04,0.687143,0.03,0.89,0.840
Middle East and North Africa (MENA),4.117647,0,10,4,0.052745,0.03,0.66,0.030,0.350980,0.03,0.89,0.05,0.526667,0.03,0.90,0.750
South and Central Asia (SCA),3.345455,0,9,3,0.052727,0.03,0.75,0.040,0.227455,0.03,0.87,0.04,0.644545,0.03,0.90,0.840
Sub-Saharan Africa (SSA),2.937500,0,5,3,0.070625,0.03,0.74,0.040,0.126562,0.03,0.86,0.04,0.715313,0.04,0.89,0.840

In [132]:
region_df.to_csv('region_df.csv')