In [1]:
import pandas as pd
import numpy as np

In [2]:
pwd

'/Users/vibhuverma/Desktop/CLASSWORK/BUSINESS PRACTICUM/ANALYSIS 1'

In [3]:
dfi = pd.read_excel("Ind.xlsx")
dfi.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Arab World,ARB,Access To Clean Fuels And Technologies For Coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,Access To Electricity (% Of Population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,"Access To Electricity, Rural (% Of Rural Popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arab World,ARB,"Access To Electricity, Urban (% Of Urban Popul...",EG.ELC.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arab World,ARB,Account Ownership At A Financial Institution O...,FX.OWN.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,22.260538,NaN,NaN,30.27713,NaN,NaN,37.165211,NaN,NaN,NaN

In [4]:
yr_list = [str(x) for x in range(2000,2020,1)]
df = dfi.melt(id_vars =['Indicator Code','Country Name', 'Indicator Name'], value_vars = yr_list, var_name ='Year', value_name ='Value') 
df.head(20)

,Indicator Code,Country Name,Indicator Name,Year,Value
0,EG.CFT.ACCS.ZS,Arab World,Access To Clean Fuels And Technologies For Coo...,2000,NaN
1,EG.ELC.ACCS.ZS,Arab World,Access To Electricity (% Of Population),2000,NaN
2,EG.ELC.ACCS.RU.ZS,Arab World,"Access To Electricity, Rural (% Of Rural Popul...",2000,NaN
3,EG.ELC.ACCS.UR.ZS,Arab World,"Access To Electricity, Urban (% Of Urban Popul...",2000,NaN
4,FX.OWN.TOTL.ZS,Arab World,Account Ownership At A Financial Institution O...,2000,NaN
5,FX.OWN.TOTL.FE.ZS,Arab World,Account Ownership At A Financial Institution O...,2000,NaN
6,FX.OWN.TOTL.MA.ZS,Arab World,Account Ownership At A Financial Institution O...,2000,NaN
7,FX.OWN.TOTL.OL.ZS,Arab World,Account Ownership At A Financial Institution O...,2000,NaN
8,FX.OWN.TOTL.40.ZS,Arab World,Account Ownership At A Financial Institution O...,2000,NaN
9,FX.OWN.TOTL.PL.ZS,Arab World,Account Ownership At A Financial Institution O...,2000,NaN
10,FX.OWN.TOTL.60.ZS,Arab World,Account Ownership At A Financial Institution O...,2000,NaN
11,FX.OWN.TOTL.SO.ZS,Arab World,Account Ownership At A Financial Institution O...,2000,NaN
12,FX.OWN.TOTL.YG.ZS,Arab World,Account Ownership At A Financial Institution O...,2000,NaN
13,per_si_allsi.adq_pop_tot,Arab World,Adequacy Of Social Insurance Programs (% Of To...,2000,NaN
14,per_allsp.adq_pop_tot,Arab World,Adequacy Of Social Protection And Labor Progra...,2000,NaN
15,per_sa_allsa.adq_pop_tot,Arab World,Adequacy Of Social Safety Net Programs (% Of T...,2000,NaN
16,per_lm_alllm.adq_pop_tot,Arab World,Adequacy Of Unemployment Benefits And Almp (% ...,2000,NaN
17,SE.PRM.TENR,Arab World,"Adjusted Net Enrollment Rate, Primary (% Of Pr...",2000,77.70382
18,SE.PRM.TENR.FE,Arab World,"Adjusted Net Enrollment Rate, Primary, Female ...",2000,73.55228
19,SE.PRM.TENR.MA,Arab World,"Adjusted Net Enrollment Rate, Primary, Male (%...",2000,81.71003

In [5]:
df.shape

(7587360, 5)

In [6]:
indicator = df[["Indicator Name","Indicator Code"]]

In [7]:
df.drop(['Indicator Name'], axis = 1) 
df['Year'] = pd.to_numeric(df['Year'])

In [8]:
df['Country Name'].unique()

array(['Arab World', 'Caribbean small states',
       'Central Europe and the Baltics', 'Early-demographic dividend',
       'East Asia & Pacific',
       'East Asia & Pacific (excluding high income)',
       'East Asia & Pacific (IDA & IBRD countries)', 'Euro area',
       'Europe & Central Asia',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia (IDA & IBRD countries)', 'European Union',
       'Fragile and conflict affected situations',
       'Heavily indebted poor countries (HIPC)', 'High income',
       'IBRD only', 'IDA & IBRD total', 'IDA blend', 'IDA only',
       'IDA total', 'Late-demographic dividend',
       'Latin America & Caribbean',
       'Latin America & Caribbean (excluding high income)',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Least developed countries: UN classification',
       'Low & middle income', 'Low income', 'Lower middle income',
       'Middle East & North Africa',
       'Middle East & North Africa (excluding high income)',
       'Middle East & North Africa (IDA & IBRD countries)',
       'Middle income', 'North America', 'Not classified', 'OECD members',
       'Other small states', 'Pacific island small states',
       'Post-demographic dividend', 'Pre-demographic dividend',
       'Small states', 'South Asia', 'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa', 'Sub-Saharan Africa (excluding high income)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Upper middle income',
       'World', 'Afghanistan', 'Albania', 'Algeria', 'American Samoa',
       'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia',
       'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas, The',
       'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
       'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Channel Islands', 'Chile', 'China', 'Colombia', 'Comoros',
       'Congo, Dem. Rep.', 'Congo, Rep.', 'Costa Rica', "Cote d'Ivoire",
       'Croatia', 'Cuba', 'Curacao', 'Cyprus', 'Czech Republic',
       'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador',
       'Egypt, Arab Rep.', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Faroe Islands', 'Fiji',
       'Finland', 'France', 'French Polynesia', 'Gabon', 'Gambia, The',
       'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland',
       'Grenada', 'Guam', 'Guatemala', 'Guinea', 'Guinea-Bissau',
       'Guyana', 'Haiti', 'Honduras', 'Hong Kong SAR, China', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran, Islamic Rep.', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Korea, Dem. Peopleâ€™s Rep.', 'Korea, Rep.', 'Kosovo', 'Kuwait',
       'Kyrgyz Republic', 'Lao PDR', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Macao SAR, China', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Micronesia, Fed. Sts.', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia',
       'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovak Republic', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'St. Kitts and Nevis', 'St. Lucia',
       'St. Martin (French part)', 'St. Vincent and the Grenadines',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Tanzania', 'Thailand',
       'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela, RB', 'Vietnam', 'Virgin Islands (U.S.)',
       'West Bank and Gaza', 'Yemen, Rep.', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [9]:
region = ['Arab World', 'Caribbean small states',
       'Central Europe and the Baltics', 'Early-demographic dividend',
       'East Asia & Pacific',
       'East Asia & Pacific (excluding high income)',
       'East Asia & Pacific (IDA & IBRD countries)', 'Euro area',
       'Europe & Central Asia',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia (IDA & IBRD countries)', 'European Union',
       'Fragile and conflict affected situations',
       'Heavily indebted poor countries (HIPC)', 'High income',
       'IBRD only', 'IDA & IBRD total', 'IDA blend', 'IDA only',
       'IDA total', 'Late-demographic dividend',
       'Latin America & Caribbean',
       'Latin America & Caribbean (excluding high income)',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Least developed countries: UN classification',
       'Low & middle income', 'Low income', 'Lower middle income',
       'Middle East & North Africa',
       'Middle East & North Africa (excluding high income)',
       'Middle East & North Africa (IDA & IBRD countries)',
       'Middle income', 'North America', 'Not classified', 'OECD members',
       'Other small states', 'Pacific island small states',
       'Post-demographic dividend', 'Pre-demographic dividend',
       'Small states', 'South Asia', 'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa', 'Sub-Saharan Africa (excluding high income)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Upper middle income',
       'World']

In [10]:
df_country = df[~df['Country Name'].isin(region)]

In [12]:
df_region = df[df['Country Name'].isin(region)]

In [13]:
df_country.head()

,Indicator Code,Country Name,Indicator Name,Year,Value
67539,EG.CFT.ACCS.ZS,Afghanistan,Access To Clean Fuels And Technologies For Coo...,2000,8.8
67540,EG.ELC.ACCS.ZS,Afghanistan,Access To Electricity (% Of Population),2000,NaN
67541,EG.ELC.ACCS.RU.ZS,Afghanistan,"Access To Electricity, Rural (% Of Rural Popul...",2000,NaN
67542,EG.ELC.ACCS.UR.ZS,Afghanistan,"Access To Electricity, Urban (% Of Urban Popul...",2000,NaN
67543,FX.OWN.TOTL.ZS,Afghanistan,Account Ownership At A Financial Institution O...,2000,NaN

In [15]:
df_region.head()

,Indicator Code,Country Name,Indicator Name,Year,Value
0,EG.CFT.ACCS.ZS,Arab World,Access To Clean Fuels And Technologies For Coo...,2000,NaN
1,EG.ELC.ACCS.ZS,Arab World,Access To Electricity (% Of Population),2000,NaN
2,EG.ELC.ACCS.RU.ZS,Arab World,"Access To Electricity, Rural (% Of Rural Popul...",2000,NaN
3,EG.ELC.ACCS.UR.ZS,Arab World,"Access To Electricity, Urban (% Of Urban Popul...",2000,NaN
4,FX.OWN.TOTL.ZS,Arab World,Account Ownership At A Financial Institution O...,2000,NaN

In [38]:
#df.to_csv('melt_indicators.csv')

In [39]:
#df_country.to_csv('melt_ind_c.csv')

In [40]:
#df_region.to_csv('melt_ind_r.csv')