In [1]:
import pandas as pd
import numpy as np

In [2]:
pwd

'C:\\Users\\thuyt\\Documents\\GitHub\\Anti-Corruption\\Notebooks-Code'

In [8]:
df = pd.read_csv("C:\\Users\\thuyt\\Downloads\\Step0.5_melt_ind_Jen.csv")
df.head()

,Unnamed: 0,Country Name,Country Code,Indicator Code,Indicator Name,Year,Value
0,0,Afghanistan,AFG,EG.CFT.ACCS.ZS,Access To Clean Fuels And Technologies For Coo...,2000,8.8
1,1,Afghanistan,AFG,EG.ELC.ACCS.ZS,Access To Electricity (% Of Population),2000,NaN
2,2,Afghanistan,AFG,EG.ELC.ACCS.RU.ZS,"Access To Electricity, Rural (% Of Rural Popul...",2000,NaN
3,3,Afghanistan,AFG,EG.ELC.ACCS.UR.ZS,"Access To Electricity, Urban (% Of Urban Popul...",2000,NaN
4,4,Afghanistan,AFG,FX.OWN.TOTL.ZS,Account Ownership At A Financial Institution O...,2000,NaN

In [9]:
df.drop('Unnamed: 0', axis = 1, inplace = True)
df.head()

,Country Name,Country Code,Indicator Code,Indicator Name,Year,Value
0,Afghanistan,AFG,EG.CFT.ACCS.ZS,Access To Clean Fuels And Technologies For Coo...,2000,8.8
1,Afghanistan,AFG,EG.ELC.ACCS.ZS,Access To Electricity (% Of Population),2000,NaN
2,Afghanistan,AFG,EG.ELC.ACCS.RU.ZS,"Access To Electricity, Rural (% Of Rural Popul...",2000,NaN
3,Afghanistan,AFG,EG.ELC.ACCS.UR.ZS,"Access To Electricity, Urban (% Of Urban Popul...",2000,NaN
4,Afghanistan,AFG,FX.OWN.TOTL.ZS,Account Ownership At A Financial Institution O...,2000,NaN

In [15]:
usaid = pd.read_csv('USAID_Anticorruption_Projects_Database.csv')
usaid.head()

,uuid,region,country,proj_nm,st_date,end_date,awd_amount,awd_value,implementer,sector,...,rfp_rftop,final_res,mind_eval,final_eval,audit,interim_rep,addl_docs,addl_info,corruption,stability
0,1,South and Central Asia (SCA),Afghanistan,Assistance for Afghanistan's Anti-Corruption A...,2010,2013,e) $25 M-$50 M,26642989,Management Systems International (MSI),"Independent Agencies, Civil Society",...,NaN,http://pdf.usaid.gov/pdf_docs/PA00JP3T.pdf,NaN,NaN,NaN,NaN,http://www.msiworldwide.com/project/supporting...,NaN,High Corruption,Unstable
1,2,South and Central Asia (SCA),Afghanistan,Rule of Law Stabilization Program - Formal Com...,2010,2012,e) $25 M-$50 M,33700000,TetraTech ARD,Rule of Law,...,NaN,NaN,NaN,http://pdf.usaid.gov/pdf_docs/PDACU496.pdf,NaN,NaN,NaN,NaN,Very High Corruption,Very Unstable
2,3,South and Central Asia (SCA),Afghanistan,Afghanistan Rule of Law Stabilization Project ...,2011,2012,c) $5 M-$10 M,10000000,"Checchi and Company Consulting, Inc.",Rule of Law,...,NaN,http://pdf.usaid.gov/pdf_docs/PDACY340.pdf,NaN,http://pdf.usaid.gov/pdf_docs/PDACW029.pdf,NaN,NaN,http://www.checchiconsulting.com/index.php?opt...,NaN,Very High Corruption,Very Unstable
3,4,South and Central Asia (SCA),Afghanistan,Political Party Assessment,2012,2012,a) <$1 M,NaN,"Checchi and Company Consulting, Inc.",Elections and Political Processes,...,NaN,http://pdf.usaid.gov/pdf_docs/PNADZ833.pdf,NaN,NaN,NaN,NaN,NaN,NaN,Very High Corruption,Very Unstable
4,30,Europe and Eurasia (E&E),Albania,Justice Sector Strengthening Project (JuST),2010,2015,c) $5 M-$10 M,9012613,Chemonics,"Rule of Law, Civil Society",...,https://www.fbo.gov/index?s=opportunity&mode=f...,NaN,NaN,NaN,NaN,http://pdf.usaid.gov/pdf_docs/PA00HWM1.pdf,NaN,NaN,High Corruption,Unstable

In [7]:
#df.drop(['Indicator Name'], axis = 1) 
#df['Year'] = pd.to_numeric(df['Year'])

In [16]:
usaid['country'].unique()

array(['Afghanistan', 'Albania', 'Indonesia', 'Vietnam', 'Angola',
       'Armenia', 'Bosnia and Herzegovina', 'Azerbaijan', 'Bangladesh',
       'Bolivia', 'Bulgaria', 'Nicaragua', 'Burundi', 'Cambodia',
       'Colombia', 'Democratic Republic of Congo', 'Dominican Republic',
       'Djibouti', 'Multiple', 'East Timor', 'Ecuador', 'Egypt',
       'Georgia', 'Guatemala', 'El Salvador', 'Ethiopia', 'Ghana',
       'Kyrgyzstan', 'Guinea', 'Guyana', 'Haiti', 'Honduras', 'Iraq',
       'Jamaica', 'Jordan', 'Kazakhstan', 'Kenya', 'Kosovo',
       'Kyrgyzstan, Kazakhstan, Tajikistan',
       'Kyrgyzstan, Kazakhstan, Tajikistan, Uzbekistan, Turkmenistan',
       'Moldova', 'Laos', 'Lebanon', 'Liberia', 'Libya', 'Macedonia',
       'Madagascar', 'Malawi', 'Mali', 'Mexico', 'Mongolia', 'Montenegro',
       'Morocco', 'Mozambique', 'Nepal', 'Nigeria', 'Peru', 'Pakistan',
       'Panama', 'Paraguay', 'Rwanda', 'Philippines', 'Uganda', 'Russia',
       'Serbia', 'SENEGAL', 'Sierra Leone', 'Sri Lanka', 'Thailand',
       'Turkmenistan', 'Ukraine', 'West Bank and Gaza', 'Yemen', 'Zambia'],
      dtype=object)

In [17]:
usaid_country = ['Afghanistan', 'Albania', 'Indonesia', 'Vietnam', 'Angola',
       'Armenia', 'Bosnia and Herzegovina', 'Azerbaijan', 'Bangladesh',
       'Bolivia', 'Bulgaria', 'Nicaragua', 'Burundi', 'Cambodia',
       'Colombia', 'Democratic Republic of Congo', 'Dominican Republic',
       'Djibouti', 'Multiple', 'East Timor', 'Ecuador', 'Egypt',
       'Georgia', 'Guatemala', 'El Salvador', 'Ethiopia', 'Ghana',
       'Kyrgyzstan', 'Guinea', 'Guyana', 'Haiti', 'Honduras', 'Iraq',
       'Jamaica', 'Jordan', 'Kazakhstan', 'Kenya', 'Kosovo',
       'Kyrgyzstan, Kazakhstan, Tajikistan',
       'Kyrgyzstan, Kazakhstan, Tajikistan, Uzbekistan, Turkmenistan',
       'Moldova', 'Laos', 'Lebanon', 'Liberia', 'Libya', 'Macedonia',
       'Madagascar', 'Malawi', 'Mali', 'Mexico', 'Mongolia', 'Montenegro',
       'Morocco', 'Mozambique', 'Nepal', 'Nigeria', 'Peru', 'Pakistan',
       'Panama', 'Paraguay', 'Rwanda', 'Philippines', 'Uganda', 'Russia',
       'Serbia', 'SENEGAL', 'Sierra Leone', 'Sri Lanka', 'Thailand',
       'Turkmenistan', 'Ukraine', 'West Bank and Gaza', 'Yemen', 'Zambia']

In [18]:
df_usaid = df[df['Country Name'].isin(usaid_country)]
df_usaid.head()

,Country Name,Country Code,Indicator Code,Indicator Name,Year,Value
0,Afghanistan,AFG,EG.CFT.ACCS.ZS,Access To Clean Fuels And Technologies For Coo...,2000,8.8
1,Afghanistan,AFG,EG.ELC.ACCS.ZS,Access To Electricity (% Of Population),2000,NaN
2,Afghanistan,AFG,EG.ELC.ACCS.RU.ZS,"Access To Electricity, Rural (% Of Rural Popul...",2000,NaN
3,Afghanistan,AFG,EG.ELC.ACCS.UR.ZS,"Access To Electricity, Urban (% Of Urban Popul...",2000,NaN
4,Afghanistan,AFG,FX.OWN.TOTL.ZS,Account Ownership At A Financial Institution O...,2000,NaN

In [19]:
df_usaid['Country Name'].unique()

array(['Afghanistan', 'Albania', 'Angola', 'Armenia', 'Azerbaijan',
       'Bangladesh', 'Bolivia', 'Bosnia and Herzegovina', 'Bulgaria',
       'Burundi', 'Cambodia', 'Colombia', 'Djibouti',
       'Dominican Republic', 'Ecuador', 'El Salvador', 'Ethiopia',
       'Georgia', 'Ghana', 'Guatemala', 'Guinea', 'Guyana', 'Haiti',
       'Honduras', 'Indonesia', 'Iraq', 'Jamaica', 'Jordan', 'Kazakhstan',
       'Kenya', 'Kosovo', 'Lebanon', 'Liberia', 'Libya', 'Madagascar',
       'Malawi', 'Mali', 'Mexico', 'Moldova', 'Mongolia', 'Montenegro',
       'Morocco', 'Mozambique', 'Nepal', 'Nicaragua', 'Nigeria',
       'Pakistan', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Rwanda',
       'Serbia', 'Sierra Leone', 'Sri Lanka', 'Thailand', 'Turkmenistan',
       'Uganda', 'Ukraine', 'Vietnam', 'West Bank and Gaza', 'Zambia'],
      dtype=object)

In [20]:
df_usaid.to_csv('Step1_country_filter_usaid_Jen.csv')

In [22]:
df_usaid2 = df_usaid.drop('Indicator Code', axis = 1) #remove "Indicator Code" column
# create columns to store different indicators 
df_usaid2 = df_usaid.pivot_table(index=['Country Name','Country Code', 'Year'], columns='Indicator Name')
df_usaid2.head()

                                                                                              Value  \
Indicator Name                 Access To Clean Fuels And Technologies For Cooking (% Of Population)
Country Name Country Code Year
Afghanistan  AFG          2000                                               8.80
                          2001                                               9.51
                          2002                                              10.39
                          2003                                              11.46
                          2004                                              12.43

                                                                        \
Indicator Name                 Access To Electricity (% Of Population)
Country Name Country Code Year
Afghanistan  AFG          2000                                     NaN
                          2001                                     NaN
                          2002                                     NaN
                          2003                                     NaN
                          2004                                     NaN

                                                                                     \
Indicator Name                 Access To Electricity, Rural (% Of Rural Population)
Country Name Country Code Year
Afghanistan  AFG          2000                                                NaN
                          2001                                                NaN
                          2002                                                NaN
                          2003                                                NaN
                          2004                                                NaN

                                                                                     \
Indicator Name                 Access To Electricity, Urban (% Of Urban Population)
Country Name Country Code Year
Afghanistan  AFG          2000                                                NaN
                          2001                                                NaN
                          2002                                                NaN
                          2003                                                NaN
                          2004                                                NaN

                                                                                                                                                \
Indicator Name                 Account Ownership At A Financial Institution Or With A Mobile-Money-Service Provider (% Of Population Ages 15+)
Country Name Country Code Year
Afghanistan  AFG          2000                                                NaN
                          2001                                                NaN
                          2002                                                NaN
                          2003                                                NaN
                          2004                                                NaN

                                                                                                                                                        \
Indicator Name                 Account Ownership At A Financial Institution Or With A Mobile-Money-Service Provider, Female (% Of Population Ages 15+)
Country Name Country Code Year
Afghanistan  AFG          2000                                                NaN
                          2001                                                NaN
                          2002                                                NaN
                          2003                                                NaN
                          2004                                                NaN

                                                                                                                                                      \
Indicator Name                 Account Ownership At A Financial Institution Or With A Mobile-Money-Service Provider, Male (% Of Population Ages 15+)
Country Name Country Code Year
Afghanistan  AFG          2000                                                NaN
                          2001                                                NaN
                          2002                                                NaN
                          2003                                                NaN
                          2004                                                NaN

                                                                                                                                                              \
Indicator Name                 Account Ownership At A Financial Institution Or With A Mobile-Money-Service Provider, Older Adults (% Of Population Ages 25+)
Country Name Country Code Year
Afghanistan  AFG          2000                                                NaN
                          2001                                                NaN
                          2002                                                NaN
                          2003                                                NaN
                          2004                                                NaN

                                                                                                                                                             \
Indicator Name                 Account Ownership At A Financial Institution Or With A Mobile-Money-Service Provider, Poorest 40% (% Of Population Ages 15+)
Country Name Country Code Year
Afghanistan  AFG          2000                                                NaN
                          2001                                                NaN
                          2002                                                NaN
                          2003                                                NaN
                          2004                                                NaN

                                                                                                                                                                           \
Indicator Name                 Account Ownership At A Financial Institution Or With A Mobile-Money-Service Provider, Primary Education Or Less (% Of Population Ages 15+)
Country Name Country Code Year
Afghanistan  AFG          2000                                                NaN
                          2001                                                NaN
                          2002                                                NaN
                          2003                                                NaN
                          2004                                                NaN

                                ...  \
Indicator Name                  ...
Country Name Country Code Year  ...
Afghanistan  AFG          2000  ...
                          2001  ...
                          2002  ...
                          2003  ...
                          2004  ...

                                                                                                                                                                    \
Indicator Name                 Women Participating In The Three Decisions (Own Health Care, Major Household Purchases, And Visiting Family) (% Of Women Age 15-49)
Country Name Country Code Year
Afghanistan  AFG          2000                                                NaN
                          2001                                                NaN
                          2002                                                NaN
                          2003                                                NaN
                          2004                                                NaN

                                                                                                                       \
Indicator Name                 Women Who Believe A Husband Is Justified In Beating His Wife (Any Of Five Reasons) (%)
Country Name Country Code Year
Afghanistan  AFG          2000                                                NaN
                          2001                                                NaN
                          2002                                                NaN
                          2003                                                NaN
                          2004                                                NaN

                                                                                                                          \
Indicator Name                 Women Who Believe A Husband Is Justified In Beating His Wife When She Argues With Him (%)
Country Name Country Code Year
Afghanistan  AFG          2000                                                NaN
                          2001                                                NaN
                          2002                                                NaN
                          2003                                                NaN
                          2004                                                NaN

                                                                                                                         \
Indicator Name                 Women Who Believe A Husband Is Justified In Beating His Wife When She Burns The Food (%)
Country Name Country Code Year
Afghanistan  AFG          2000                                                NaN
                          2001                                                NaN
                          2002                                                NaN
                          2003                                                NaN
                          2004                                                NaN

                                                                                                                                       \
Indicator Name                 Women Who Believe A Husband Is Justified In Beating His Wife When She Goes Out Without Telling Him (%)
Country Name Country Code Year
Afghanistan  AFG          2000                                                NaN
                          2001                                                NaN
                          2002                                                NaN
                          2003                                                NaN
                          2004                                                NaN

                                                                                                                                \
Indicator Name                 Women Who Believe A Husband Is Justified In Beating His Wife When She Neglects The Children (%)
Country Name Country Code Year
Afghanistan  AFG          2000                                                NaN
                          2001                                                NaN
                          2002                                                NaN
                          2003                                                NaN
                          2004                                                NaN

                                                                                                                               \
Indicator Name                 Women Who Believe A Husband Is Justified In Beating His Wife When She Refuses Sex With Him (%)
Country Name Country Code Year
Afghanistan  AFG          2000                                                NaN
                          2001                                                NaN
                          2002                                                NaN
                          2003                                                NaN
                          2004                                                NaN

                                                                                               \
Indicator Name                 Women Who Were First Married By Age 15 (% Of Women Ages 20-24)
Country Name Country Code Year
Afghanistan  AFG          2000                                                NaN
                          2001                                                NaN
                          2002                                                NaN
                          2003                                                NaN
                          2004                                                NaN

                                                                                               \
Indicator Name                 Women Who Were First Married By Age 18 (% Of Women Ages 20-24)
Country Name Country Code Year
Afghanistan  AFG          2000                                                NaN
                          2001                                                NaN
                          2002                                                NaN
                          2003                                                NaN
                          2004                                                NaN


Indicator Name                 Women'S Share Of Population Ages 15+ Living With Hiv (%)
Country Name Country Code Year
Afghanistan  AFG          2000                                               27.7
                          2001                                               27.7
                          2002                                               27.8
                          2003                                               27.9
                          2004                                               28.0

[5 rows x 1428 columns]

In [23]:
df_usaid2.columns = df_usaid2.columns.droplevel().rename(None)
df_usaid2.head()

                                Access To Clean Fuels And Technologies For Cooking (% Of Population)  \
Country Name Country Code Year
Afghanistan  AFG          2000                                               8.80
                          2001                                               9.51
                          2002                                              10.39
                          2003                                              11.46
                          2004                                              12.43

                                Access To Electricity (% Of Population)  \
Country Name Country Code Year
Afghanistan  AFG          2000                                      NaN
                          2001                                      NaN
                          2002                                      NaN
                          2003                                      NaN
                          2004                                      NaN

                                Access To Electricity, Rural (% Of Rural Population)  \
Country Name Country Code Year
Afghanistan  AFG          2000                                                NaN
                          2001                                                NaN
                          2002                                                NaN
                          2003                                                NaN
                          2004                                                NaN

                                Access To Electricity, Urban (% Of Urban Population)  \
Country Name Country Code Year
Afghanistan  AFG          2000                                                NaN
                          2001                                                NaN
                          2002                                                NaN
                          2003                                                NaN
                          2004                                                NaN

                                Account Ownership At A Financial Institution Or With A Mobile-Money-Service Provider (% Of Population Ages 15+)  \
Country Name Country Code Year
Afghanistan  AFG          2000                                                NaN
                          2001                                                NaN
                          2002                                                NaN
                          2003                                                NaN
                          2004                                                NaN

                                Account Ownership At A Financial Institution Or With A Mobile-Money-Service Provider, Female (% Of Population Ages 15+)  \
Country Name Country Code Year
Afghanistan  AFG          2000                                                NaN
                          2001                                                NaN
                          2002                                                NaN
                          2003                                                NaN
                          2004                                                NaN

                                Account Ownership At A Financial Institution Or With A Mobile-Money-Service Provider, Male (% Of Population Ages 15+)  \
Country Name Country Code Year
Afghanistan  AFG          2000                                                NaN
                          2001                                                NaN
                          2002                                                NaN
                          2003                                                NaN
                          2004                                                NaN

                                Account Ownership At A Financial Institution Or With A Mobile-Money-Service Provider, Older Adults (% Of Population Ages 25+)  \
Country Name Country Code Year
Afghanistan  AFG          2000                                                NaN
                          2001                                                NaN
                          2002                                                NaN
                          2003                                                NaN
                          2004                                                NaN

                                Account Ownership At A Financial Institution Or With A Mobile-Money-Service Provider, Poorest 40% (% Of Population Ages 15+)  \
Country Name Country Code Year
Afghanistan  AFG          2000                                                NaN
                          2001                                                NaN
                          2002                                                NaN
                          2003                                                NaN
                          2004                                                NaN

                                Account Ownership At A Financial Institution Or With A Mobile-Money-Service Provider, Primary Education Or Less (% Of Population Ages 15+)  \
Country Name Country Code Year
Afghanistan  AFG          2000                                                NaN
                          2001                                                NaN
                          2002                                                NaN
                          2003                                                NaN
                          2004                                                NaN

                                ...  \
Country Name Country Code Year  ...
Afghanistan  AFG          2000  ...
                          2001  ...
                          2002  ...
                          2003  ...
                          2004  ...

                                Women Participating In The Three Decisions (Own Health Care, Major Household Purchases, And Visiting Family) (% Of Women Age 15-49)  \
Country Name Country Code Year
Afghanistan  AFG          2000                                                NaN
                          2001                                                NaN
                          2002                                                NaN
                          2003                                                NaN
                          2004                                                NaN

                                Women Who Believe A Husband Is Justified In Beating His Wife (Any Of Five Reasons) (%)  \
Country Name Country Code Year
Afghanistan  AFG          2000                                                NaN
                          2001                                                NaN
                          2002                                                NaN
                          2003                                                NaN
                          2004                                                NaN

                                Women Who Believe A Husband Is Justified In Beating His Wife When She Argues With Him (%)  \
Country Name Country Code Year
Afghanistan  AFG          2000                                                NaN
                          2001                                                NaN
                          2002                                                NaN
                          2003                                                NaN
                          2004                                                NaN

                                Women Who Believe A Husband Is Justified In Beating His Wife When She Burns The Food (%)  \
Country Name Country Code Year
Afghanistan  AFG          2000                                                NaN
                          2001                                                NaN
                          2002                                                NaN
                          2003                                                NaN
                          2004                                                NaN

                                Women Who Believe A Husband Is Justified In Beating His Wife When She Goes Out Without Telling Him (%)  \
Country Name Country Code Year
Afghanistan  AFG          2000                                                NaN
                          2001                                                NaN
                          2002                                                NaN
                          2003                                                NaN
                          2004                                                NaN

                                Women Who Believe A Husband Is Justified In Beating His Wife When She Neglects The Children (%)  \
Country Name Country Code Year
Afghanistan  AFG          2000                                                NaN
                          2001                                                NaN
                          2002                                                NaN
                          2003                                                NaN
                          2004                                                NaN

                                Women Who Believe A Husband Is Justified In Beating His Wife When She Refuses Sex With Him (%)  \
Country Name Country Code Year
Afghanistan  AFG          2000                                                NaN
                          2001                                                NaN
                          2002                                                NaN
                          2003                                                NaN
                          2004                                                NaN

                                Women Who Were First Married By Age 15 (% Of Women Ages 20-24)  \
Country Name Country Code Year
Afghanistan  AFG          2000                                                NaN
                          2001                                                NaN
                          2002                                                NaN
                          2003                                                NaN
                          2004                                                NaN

                                Women Who Were First Married By Age 18 (% Of Women Ages 20-24)  \
Country Name Country Code Year
Afghanistan  AFG          2000                                                NaN
                          2001                                                NaN
                          2002                                                NaN
                          2003                                                NaN
                          2004                                                NaN

                                Women'S Share Of Population Ages 15+ Living With Hiv (%)
Country Name Country Code Year
Afghanistan  AFG          2000                                               27.7
                          2001                                               27.7
                          2002                                               27.8
                          2003                                               27.9
                          2004                                               28.0

[5 rows x 1428 columns]

In [26]:
df_usaid2.reset_index(level = 0, inplace = True) #turn indices (Country Code, Country Name, Year) into columns 
df_usaid2.head()

,Country Code,Country Name,Access To Clean Fuels And Technologies For Cooking (% Of Population),Access To Electricity (% Of Population),"Access To Electricity, Rural (% Of Rural Population)","Access To Electricity, Urban (% Of Urban Population)",Account Ownership At A Financial Institution Or With A Mobile-Money-Service Provider (% Of Population Ages 15+),"Account Ownership At A Financial Institution Or With A Mobile-Money-Service Provider, Female (% Of Population Ages 15+)","Account Ownership At A Financial Institution Or With A Mobile-Money-Service Provider, Male (% Of Population Ages 15+)","Account Ownership At A Financial Institution Or With A Mobile-Money-Service Provider, Older Adults (% Of Population Ages 25+)",...,"Women Participating In The Three Decisions (Own Health Care, Major Household Purchases, And Visiting Family) (% Of Women Age 15-49)",Women Who Believe A Husband Is Justified In Beating His Wife (Any Of Five Reasons) (%),Women Who Believe A Husband Is Justified In Beating His Wife When She Argues With Him (%),Women Who Believe A Husband Is Justified In Beating His Wife When She Burns The Food (%),Women Who Believe A Husband Is Justified In Beating His Wife When She Goes Out Without Telling Him (%),Women Who Believe A Husband Is Justified In Beating His Wife When She Neglects The Children (%),Women Who Believe A Husband Is Justified In Beating His Wife When She Refuses Sex With Him (%),Women Who Were First Married By Age 15 (% Of Women Ages 20-24),Women Who Were First Married By Age 18 (% Of Women Ages 20-24),Women'S Share Of Population Ages 15+ Living With Hiv (%)
Year,,,,,,,,,,,,,,,,,,,,,
2000,AFG,Afghanistan,8.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.7
2001,AFG,Afghanistan,9.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.7
2002,AFG,Afghanistan,10.39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8
2003,AFG,Afghanistan,11.46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.9
2004,AFG,Afghanistan,12.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0

In [29]:
df_usaid2.to_csv("Step2_unmelt_ind_Jen.csv")

In [30]:
test = pd.read_csv('Step2_unmelt_ind_Jen.csv')
test.head()

,Year,Country Code,Country Name,Access To Clean Fuels And Technologies For Cooking (% Of Population),Access To Electricity (% Of Population),"Access To Electricity, Rural (% Of Rural Population)","Access To Electricity, Urban (% Of Urban Population)",Account Ownership At A Financial Institution Or With A Mobile-Money-Service Provider (% Of Population Ages 15+),"Account Ownership At A Financial Institution Or With A Mobile-Money-Service Provider, Female (% Of Population Ages 15+)","Account Ownership At A Financial Institution Or With A Mobile-Money-Service Provider, Male (% Of Population Ages 15+)",...,"Women Participating In The Three Decisions (Own Health Care, Major Household Purchases, And Visiting Family) (% Of Women Age 15-49)",Women Who Believe A Husband Is Justified In Beating His Wife (Any Of Five Reasons) (%),Women Who Believe A Husband Is Justified In Beating His Wife When She Argues With Him (%),Women Who Believe A Husband Is Justified In Beating His Wife When She Burns The Food (%),Women Who Believe A Husband Is Justified In Beating His Wife When She Goes Out Without Telling Him (%),Women Who Believe A Husband Is Justified In Beating His Wife When She Neglects The Children (%),Women Who Believe A Husband Is Justified In Beating His Wife When She Refuses Sex With Him (%),Women Who Were First Married By Age 15 (% Of Women Ages 20-24),Women Who Were First Married By Age 18 (% Of Women Ages 20-24),Women'S Share Of Population Ages 15+ Living With Hiv (%)
0,2000,AFG,Afghanistan,8.80,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.7
1,2001,AFG,Afghanistan,9.51,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.7
2,2002,AFG,Afghanistan,10.39,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8
3,2003,AFG,Afghanistan,11.46,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.9
4,2004,AFG,Afghanistan,12.43,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0

In [32]:
corperind = pd.read_excel('CorruptionPerceptionIndex-combined-2007to2019.xlsx')
corperind.head()

       country  iso region  rank  Year  scaled_score Unnamed: 6
0  Afghanistan  AFG     AP   172  2007            18        NaN
1      Albania  ALB    ECA   105  2007            29        NaN
2      Algeria  DZA   MENA    99  2007            30        NaN
3       Angola  AGO    SSA   147  2007            22        NaN
4    Argentina  ARG    AME   105  2007            29        NaN

In [34]:
corperind.drop('Unnamed: 6', axis = 1, inplace = True)
corperind.head()

       country  iso region  rank  Year  scaled_score
0  Afghanistan  AFG     AP   172  2007            18
1      Albania  ALB    ECA   105  2007            29
2      Algeria  DZA   MENA    99  2007            30
3       Angola  AGO    SSA   147  2007            22
4    Argentina  ARG    AME   105  2007            29

In [40]:
merged_cpi = pd.merge(df_usaid2, corperind,  how='left', left_on=["Country Code", "Year"], right_on = ['iso', 'Year'])
merged_cpi.head(50)

,Country Code,Year,Country Name,Access To Clean Fuels And Technologies For Cooking (% Of Population),Access To Electricity (% Of Population),"Access To Electricity, Rural (% Of Rural Population)","Access To Electricity, Urban (% Of Urban Population)",Account Ownership At A Financial Institution Or With A Mobile-Money-Service Provider (% Of Population Ages 15+),"Account Ownership At A Financial Institution Or With A Mobile-Money-Service Provider, Female (% Of Population Ages 15+)","Account Ownership At A Financial Institution Or With A Mobile-Money-Service Provider, Male (% Of Population Ages 15+)",...,Women Who Believe A Husband Is Justified In Beating His Wife When She Neglects The Children (%),Women Who Believe A Husband Is Justified In Beating His Wife When She Refuses Sex With Him (%),Women Who Were First Married By Age 15 (% Of Women Ages 20-24),Women Who Were First Married By Age 18 (% Of Women Ages 20-24),Women'S Share Of Population Ages 15+ Living With Hiv (%),country,iso,region,rank,scaled_score
0,AFG,2000,Afghanistan,8.80,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,27.7,NaN,NaN,NaN,NaN,NaN
1,AFG,2001,Afghanistan,9.51,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,27.7,NaN,NaN,NaN,NaN,NaN
2,AFG,2002,Afghanistan,10.39,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,27.8,NaN,NaN,NaN,NaN,NaN
3,AFG,2003,Afghanistan,11.46,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,27.9,NaN,NaN,NaN,NaN,NaN
4,AFG,2004,Afghanistan,12.43,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,28.0,NaN,NaN,NaN,NaN,NaN
5,AFG,2005,Afghanistan,13.49,23.000000,8.020724,74.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,28.2,NaN,NaN,NaN,NaN,NaN
6,AFG,2006,Afghanistan,14.81,28.560974,13.168446,80.364182,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,28.4,NaN,NaN,NaN,NaN,NaN
7,AFG,2007,Afghanistan,15.99,34.253246,19.868266,82.105881,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,28.6,Afghanistan,AFG,AP,172.0,18.0
8,AFG,2008,Afghanistan,17.44,42.400000,27.954251,89.900000,NaN,NaN,NaN,...,NaN,NaN,NaN,39.0,28.8,Afghanistan,AFG,AP,176.0,15.0
9,AFG,2009,Afghanistan,18.84,45.670555,33.378738,85.622093,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,28.9,Afghanistan,AFG,AP,179.0,13.0
10,AFG,2010,Afghanistan,20.68,42.700000,30.218800,82.800000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,28.9,Afghanistan,AFG,AP,176.0,14.0
11,AFG,2011,Afghanistan,22.33,43.222019,29.572881,86.567779,9.005013,2.616230,15.415457,...,NaN,NaN,NaN,40.4,28.9,Afghanistan,AFG,AP,180.0,15.0
12,AFG,2012,Afghanistan,24.08,69.100000,60.849157,95.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,28.8,Afghanistan,AFG,AP,174.0,8.0
13,AFG,2013,Afghanistan,26.17,68.933266,61.282199,92.673767,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,28.7,Afghanistan,AFG,AP,175.0,8.0
14,AFG,2014,Afghanistan,27.99,89.500000,86.500512,98.700000,9.961000,3.812426,15.784667,...,NaN,NaN,NaN,32.8,28.6,Afghanistan,AFG,AP,172.0,12.0
15,AFG,2015,Afghanistan,30.10,71.500000,64.573354,92.500000,NaN,NaN,NaN,...,48.4,33.4,8.8,34.8,28.6,Afghanistan,AFG,AP,166.0,11.0
16,AFG,2016,Afghanistan,32.44,97.700000,97.099360,99.500000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,28.7,Afghanistan,AFG,AP,169.0,15.0
17,AFG,2017,Afghanistan,NaN,97.700000,97.091973,99.500000,14.893312,7.160685,22.536495,...,NaN,NaN,NaN,NaN,28.9,Afghanistan,AFG,AP,177.0,15.0
18,AFG,2018,Afghanistan,NaN,98.713203,98.272872,100.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,29.0,Afghanistan,AFG,AP,172.0,16.0
19,AFG,2019,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,29.0,Afghanistan,AFG,AP,173.0,16.0
20,ALB,2000,Albania,39.80,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,13.6,NaN,NaN,NaN,NaN,NaN
21,ALB,2001,Albania,42.70,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,15.6,NaN,NaN,NaN,NaN,NaN
22,ALB,2002,Albania,45.23,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,16.5,NaN,NaN,NaN,NaN,NaN
23,ALB,2003,Albania,47.62,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN,NaN
24,ALB,2004,Albania,50.53,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,19.3,NaN,NaN,NaN,NaN,NaN
25,ALB,2005,Albania,53.25,NaN,NaN,NaN,NaN,NaN,NaN,...,19.6,8.7,NaN,7.5,19.9,NaN,NaN,NaN,NaN,NaN
26,ALB,2006,Albania,55.57,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,20.8,NaN,NaN,NaN,NaN,NaN
27,ALB,2007,Albania,58.14,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,21.2,Albania,ALB,ECA,105.0,29.0
28,ALB,2008,Albania,60.75,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,21.7,Albania,ALB,ECA,85.0,34.0
29,ALB,2009,Albania,63.24,NaN,NaN,NaN,NaN,NaN,NaN,...,21.7,8.9,0.2,9.6,22.1,Albania,ALB,ECA,95.0,32.0
30,ALB,2010,Albania,65.23,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,22.3,Albania,ALB,ECA,91.0,33.0
31,ALB,2011,Albania,67.81,NaN,NaN,NaN,28.268126,22.672611,33.664677,...,NaN,NaN,NaN,NaN,22.7,Albania,ALB,ECA,95.0,31.0
32,ALB,2012,Albania,69.96,99.900000,100.000000,99.900000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,23.0,Albania,ALB,ECA,113.0,33.0
33,ALB,2013,Albania,71.78,100.000000,100.000000,99.998672,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,23.2,Albania,ALB,ECA,116.0,31.0
34,ALB,2014,Albania,73.98,100.000000,100.000000,100.000000,37.986355,33.594234,42.519691,...,NaN,NaN,NaN,NaN,23.4,Albania,ALB,ECA,110.0,33.0
35,ALB,2015,Albania,75.37,100.000000,100.000000,100.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,23.5,Albania,ALB,ECA,88.0,36.0
36,ALB,2016,Albania,77.42,100.000000,100.000000,100.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,23.6,Albania,ALB,ECA,83.0,39.0
37,ALB,2017,Albania,NaN,100.000000,100.000000,100.000000,40.015171,38.102959,42.043503,...,NaN,NaN,NaN,NaN,23.5,Albania,ALB,ECA,91.0,38.0
38,ALB,2018,Albania,NaN,100.000000,100.000000,100.000000,NaN,NaN,NaN,...,5.2,0.9,1.4,11.8,23.4,Albania,ALB,ECA,99.0,36.0
39,ALB,2019,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,23.3,Albania,ALB,ECA,106.0,35.0
40,AGO,2000,Angola,37.27,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,68.9,NaN,NaN,NaN,NaN,NaN
41,AGO,2001,Angola,37.96,20.000000,9.477077,30.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,69.0,NaN,NaN,NaN,NaN,NaN
42,AGO,2002,Angola,38.49,25.056057,2.799410,45.224541,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,69.2,NaN,NaN,NaN,NaN,NaN
43,AGO,2003,Angola,39.24,26.138590,2.082232,46.925850,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,69.3,NaN,NaN,NaN,NaN,NaN
44,AGO,2004,Angola,39.94,27.197901,1.167361,48.644955,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,69.4,NaN,NaN,NaN,NaN,NaN
45,AGO,2005,Angola,40.75,28.232195,0.034922,50.387196,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,69.5,NaN,NaN,NaN,NaN,NaN
46,AGO,2006,Angola,41.39,29.250380,NaN,52.150257,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,69.5,NaN,NaN,NaN,NaN,NaN
47,AGO,2007,Angola,41.91,37.500000,NaN,66.100000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,69.5,Angola,AGO,SSA,147.0,22.0
48,AGO,2008,Angola,42.58,31.284758,NaN,55.721893,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,69.6,Angola,AGO,SSA,158.0,19.0
49,AGO,2009,Angola,43.32,32.324120,NaN,57.521992,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,69.5,Angola,AGO,SSA,162.0,19.0

In [36]:
merged_cpi.shape

(1241, 1436)

In [41]:
merged_cpi.drop(['country', 'iso', 'region'], axis = 1, inplace = True)
merged_cpi.head()

,Country Code,Year,Country Name,Access To Clean Fuels And Technologies For Cooking (% Of Population),Access To Electricity (% Of Population),"Access To Electricity, Rural (% Of Rural Population)","Access To Electricity, Urban (% Of Urban Population)",Account Ownership At A Financial Institution Or With A Mobile-Money-Service Provider (% Of Population Ages 15+),"Account Ownership At A Financial Institution Or With A Mobile-Money-Service Provider, Female (% Of Population Ages 15+)","Account Ownership At A Financial Institution Or With A Mobile-Money-Service Provider, Male (% Of Population Ages 15+)",...,Women Who Believe A Husband Is Justified In Beating His Wife When She Argues With Him (%),Women Who Believe A Husband Is Justified In Beating His Wife When She Burns The Food (%),Women Who Believe A Husband Is Justified In Beating His Wife When She Goes Out Without Telling Him (%),Women Who Believe A Husband Is Justified In Beating His Wife When She Neglects The Children (%),Women Who Believe A Husband Is Justified In Beating His Wife When She Refuses Sex With Him (%),Women Who Were First Married By Age 15 (% Of Women Ages 20-24),Women Who Were First Married By Age 18 (% Of Women Ages 20-24),Women'S Share Of Population Ages 15+ Living With Hiv (%),rank,scaled_score
0,AFG,2000,Afghanistan,8.80,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.7,NaN,NaN
1,AFG,2001,Afghanistan,9.51,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.7,NaN,NaN
2,AFG,2002,Afghanistan,10.39,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN,NaN
3,AFG,2003,Afghanistan,11.46,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.9,NaN,NaN
4,AFG,2004,Afghanistan,12.43,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0,NaN,NaN

In [42]:
merged_cpi['Corruption Perception Index'] = merged_cpi['scaled_score']
merged_cpi.drop('scaled_score', axis = 1, inplace = True)
merged_cpi.head()

,Country Code,Year,Country Name,Access To Clean Fuels And Technologies For Cooking (% Of Population),Access To Electricity (% Of Population),"Access To Electricity, Rural (% Of Rural Population)","Access To Electricity, Urban (% Of Urban Population)",Account Ownership At A Financial Institution Or With A Mobile-Money-Service Provider (% Of Population Ages 15+),"Account Ownership At A Financial Institution Or With A Mobile-Money-Service Provider, Female (% Of Population Ages 15+)","Account Ownership At A Financial Institution Or With A Mobile-Money-Service Provider, Male (% Of Population Ages 15+)",...,Women Who Believe A Husband Is Justified In Beating His Wife When She Argues With Him (%),Women Who Believe A Husband Is Justified In Beating His Wife When She Burns The Food (%),Women Who Believe A Husband Is Justified In Beating His Wife When She Goes Out Without Telling Him (%),Women Who Believe A Husband Is Justified In Beating His Wife When She Neglects The Children (%),Women Who Believe A Husband Is Justified In Beating His Wife When She Refuses Sex With Him (%),Women Who Were First Married By Age 15 (% Of Women Ages 20-24),Women Who Were First Married By Age 18 (% Of Women Ages 20-24),Women'S Share Of Population Ages 15+ Living With Hiv (%),rank,Corruption Perception Index
0,AFG,2000,Afghanistan,8.80,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.7,NaN,NaN
1,AFG,2001,Afghanistan,9.51,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.7,NaN,NaN
2,AFG,2002,Afghanistan,10.39,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN,NaN
3,AFG,2003,Afghanistan,11.46,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.9,NaN,NaN
4,AFG,2004,Afghanistan,12.43,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0,NaN,NaN

In [43]:
merged_cpi['Corruption Perception Rank'] = merged_cpi['rank']
merged_cpi.drop('rank', axis = 1, inplace = True)

In [44]:
merged_cpi.to_csv('Step3_merged_ind_and_cpi_Jen.csv')

In [45]:
usaid.head()

,uuid,region,country,proj_nm,st_date,end_date,awd_amount,awd_value,implementer,sector,...,rfp_rftop,final_res,mind_eval,final_eval,audit,interim_rep,addl_docs,addl_info,corruption,stability
0,1,South and Central Asia (SCA),Afghanistan,Assistance for Afghanistan's Anti-Corruption A...,2010,2013,e) $25 M-$50 M,26642989,Management Systems International (MSI),"Independent Agencies, Civil Society",...,NaN,http://pdf.usaid.gov/pdf_docs/PA00JP3T.pdf,NaN,NaN,NaN,NaN,http://www.msiworldwide.com/project/supporting...,NaN,High Corruption,Unstable
1,2,South and Central Asia (SCA),Afghanistan,Rule of Law Stabilization Program - Formal Com...,2010,2012,e) $25 M-$50 M,33700000,TetraTech ARD,Rule of Law,...,NaN,NaN,NaN,http://pdf.usaid.gov/pdf_docs/PDACU496.pdf,NaN,NaN,NaN,NaN,Very High Corruption,Very Unstable
2,3,South and Central Asia (SCA),Afghanistan,Afghanistan Rule of Law Stabilization Project ...,2011,2012,c) $5 M-$10 M,10000000,"Checchi and Company Consulting, Inc.",Rule of Law,...,NaN,http://pdf.usaid.gov/pdf_docs/PDACY340.pdf,NaN,http://pdf.usaid.gov/pdf_docs/PDACW029.pdf,NaN,NaN,http://www.checchiconsulting.com/index.php?opt...,NaN,Very High Corruption,Very Unstable
3,4,South and Central Asia (SCA),Afghanistan,Political Party Assessment,2012,2012,a) <$1 M,NaN,"Checchi and Company Consulting, Inc.",Elections and Political Processes,...,NaN,http://pdf.usaid.gov/pdf_docs/PNADZ833.pdf,NaN,NaN,NaN,NaN,NaN,NaN,Very High Corruption,Very Unstable
4,30,Europe and Eurasia (E&E),Albania,Justice Sector Strengthening Project (JuST),2010,2015,c) $5 M-$10 M,9012613,Chemonics,"Rule of Law, Civil Society",...,https://www.fbo.gov/index?s=opportunity&mode=f...,NaN,NaN,NaN,NaN,http://pdf.usaid.gov/pdf_docs/PA00HWM1.pdf,NaN,NaN,High Corruption,Unstable

In [48]:
merged = pd.merge(merged_cpi, usaid[['region','country']],  how='inner', left_on=["Country Name"], right_on = ['country'])
merged.head()

,Country Code,Year,Country Name,Access To Clean Fuels And Technologies For Cooking (% Of Population),Access To Electricity (% Of Population),"Access To Electricity, Rural (% Of Rural Population)","Access To Electricity, Urban (% Of Urban Population)",Account Ownership At A Financial Institution Or With A Mobile-Money-Service Provider (% Of Population Ages 15+),"Account Ownership At A Financial Institution Or With A Mobile-Money-Service Provider, Female (% Of Population Ages 15+)","Account Ownership At A Financial Institution Or With A Mobile-Money-Service Provider, Male (% Of Population Ages 15+)",...,Women Who Believe A Husband Is Justified In Beating His Wife When She Goes Out Without Telling Him (%),Women Who Believe A Husband Is Justified In Beating His Wife When She Neglects The Children (%),Women Who Believe A Husband Is Justified In Beating His Wife When She Refuses Sex With Him (%),Women Who Were First Married By Age 15 (% Of Women Ages 20-24),Women Who Were First Married By Age 18 (% Of Women Ages 20-24),Women'S Share Of Population Ages 15+ Living With Hiv (%),Corruption Perception Index,Corruption Perception Rank,region,country
0,AFG,2000,Afghanistan,8.8,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,27.7,NaN,NaN,South and Central Asia (SCA),Afghanistan
1,AFG,2000,Afghanistan,8.8,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,27.7,NaN,NaN,South and Central Asia (SCA),Afghanistan
2,AFG,2000,Afghanistan,8.8,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,27.7,NaN,NaN,South and Central Asia (SCA),Afghanistan
3,AFG,2000,Afghanistan,8.8,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,27.7,NaN,NaN,South and Central Asia (SCA),Afghanistan
4,AFG,2000,Afghanistan,8.8,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,27.7,NaN,NaN,South and Central Asia (SCA),Afghanistan

In [49]:
merged.drop('country', axis = 1, inplace = True)
merged.to_csv('Step4_merge_USAID_region_Jen.csv')