In [2]:
import pandas as pd
import numpy as np

In [26]:
df = pd.read_csv('C:/Users/thuyt/Documents/GitHub/Anti-Corruption/Final datasets/USAID/combined_usaid_Nov_18.csv')

In [27]:
# columns that needs to be aggregated by country, then by region
df[['desc_senti_score', 'desc_sub_score', 'res_senti_score', 'res_sub_score', 'intervention_type']].head(2)

,desc_senti_score,desc_sub_score,res_senti_score,res_sub_score,intervention_type
0,-0.051333,0.574667,0.120000,0.713333,"Awareness, Accountability"
1,-0.060000,0.466667,-0.033333,0.500000,"Transparency, Awareness"

In [28]:
df = df.sort_values(by=['country'], ascending=1) #sort df by country columns alphabetically

In [161]:
#df.head(30)

# Group by Region

## 1. Continuous variables

In [6]:
df1 = df[['region','desc_senti_score','desc_sub_score','res_senti_score','res_sub_score' ]]

### a. Median

In [7]:
df1_median = df1.groupby('region').median()
df1_median.head()

,desc_senti_score,desc_sub_score,res_senti_score,res_sub_score
region,,,,
East Asia and Pacific (EAP),0.000000,0.432083,0.000000,0.387716
Europe and Eurasia (E&E),0.000000,0.341667,0.000000,0.300000
Global,-0.096886,0.317593,0.150000,0.500000
Latin America and Caribbean (LAC),0.000000,0.233333,0.011111,0.295000
Middle East and North Africa (MENA),0.078571,0.241667,0.000000,0.300000

In [8]:
df1_median.columns = ['desc_senti_score_median','desc_sub_score_median','res_senti_score_median', 'res_sub_score_median']
df1_median.reset_index(level=0, inplace=True)
df1_median.head(2)

,region,desc_senti_score_median,desc_sub_score_median,res_senti_score_median,res_sub_score_median
0,East Asia and Pacific (EAP),0.0,0.432083,0.0,0.387716
1,Europe and Eurasia (E&E),0.0,0.341667,0.0,0.300000

### b. Mean

In [9]:
df1_mean = df1.groupby('region').mean()
df1_mean.columns = ['desc_senti_score_mean','desc_sub_score_mean','res_senti_score_mean', 'res_sub_score_mean']
df1_mean.reset_index(level=0, inplace=True)
df1_mean.head(2)

,region,desc_senti_score_mean,desc_sub_score_mean,res_senti_score_mean,res_sub_score_mean
0,East Asia and Pacific (EAP),0.010962,0.425391,0.034803,0.373678
1,Europe and Eurasia (E&E),0.025561,0.371607,-0.007075,0.316213

### c. Min

In [10]:
df1_min = df1.groupby('region').min()
df1_min.columns = ['desc_senti_score_min','desc_sub_score_min','res_senti_score_min', 'res_sub_score_min']
df1_min.reset_index(level=0, inplace=True)
df1_min.head(2)

,region,desc_senti_score_min,desc_sub_score_min,res_senti_score_min,res_sub_score_min
0,East Asia and Pacific (EAP),-0.5,0.0,-0.266667,0.0
1,Europe and Eurasia (E&E),-0.5,0.0,-0.300000,0.0

### d. Max

In [11]:
df1_max = df1.groupby('region').max()
df1_max.columns = ['desc_senti_score_max','desc_sub_score_max','res_senti_score_max', 'res_sub_score_max']
df1_max.reset_index(level=0, inplace=True)
df1_max.head(2)

,region,desc_senti_score_max,desc_sub_score_max,res_senti_score_max,res_sub_score_max
0,East Asia and Pacific (EAP),0.66,1.0,0.657143,0.866667
1,Europe and Eurasia (E&E),0.50,1.0,0.530000,0.866667

## 2. Categorical variable: 'intervention_type'

In [16]:
# `combined_usaid_Nov_18 - intervention_type` is the file I have modified outside of this Jupyter Notebook. 
# the modification is that I split the cells where there are more than 1 intervention types, and changed the file so that
# each row only contains one intervention type by adding the second/third/fourth intervention_type in new separate rows
# I trimmed spaces in cells
# I sorted the dataset by country in alphabetical order.
df_country = pd.read_csv('C:/Users/thuyt/Documents/GitHub/Anti-Corruption/country&region-level aggregation code/combined_usaid_Nov_18 - intervention_type.csv')

In [18]:
df_country.head()

       country intervention_type
0  Afghanistan         Awareness
1  Afghanistan      Transparency
2  Afghanistan         Awareness
3  Afghanistan        Assessment
4  Afghanistan      Transparency

In [30]:
df_region = df[['region', 'country']]
df_region.drop_duplicates(inplace = True)
df_region.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                          region      country
0   South and Central Asia (SCA)  Afghanistan
28      Europe and Eurasia (E&E)      Albania
36      Sub-Saharan Africa (SSA)       Angola
40      Europe and Eurasia (E&E)      Armenia
41      Europe and Eurasia (E&E)   Azerbaijan

In [37]:
## merge these above 2 datasets to get the regional data for intervention_type
df2 = df_country.merge(df_region, how = 'left', on = 'country')
df2.head()

       country intervention_type                        region
0  Afghanistan         Awareness  South and Central Asia (SCA)
1  Afghanistan      Transparency  South and Central Asia (SCA)
2  Afghanistan         Awareness  South and Central Asia (SCA)
3  Afghanistan        Assessment  South and Central Asia (SCA)
4  Afghanistan      Transparency  South and Central Asia (SCA)

In [38]:
df2 = df2.drop(columns = 'country', axis = 1)

In [41]:
df2.head()

  intervention_type                        region
0         Awareness  South and Central Asia (SCA)
1      Transparency  South and Central Asia (SCA)
2         Awareness  South and Central Asia (SCA)
3        Assessment  South and Central Asia (SCA)
4      Transparency  South and Central Asia (SCA)

In [42]:
df2['intervention_type'].unique() #unique intervention types

array(['Awareness', 'Transparency', 'Assessment', 'Accountability',
       'Participation', 'Enforcement', 'Study',
       'Citizen/Media/Business Engagement/Participation'], dtype=object)

In [44]:
df2['region'].nunique() #number of unique regions

7

In [45]:
intervention_type_Awareness_count=df2[df2['intervention_type'] == 'Awareness' ].groupby('region')['intervention_type'].count()
# Re-create a new array of levels, now including all countries

In [46]:
# we do thing similarly for other intervention types
intervention_type_Transparency_count=df2[df2['intervention_type'] == 'Transparency' ].groupby('region')['intervention_type'].count()
intervention_type_Assessment_count=df2[df2['intervention_type'] == 'Assessment' ].groupby('region')['intervention_type'].count()
intervention_type_Accountability_count=df2[df2['intervention_type'] == 'Accountability' ].groupby('region')['intervention_type'].count()
intervention_type_Participation_count=df2[df2['intervention_type'] == 'Participation' ].groupby('region')['intervention_type'].count()
intervention_type_Enforcement_count=df2[df2['intervention_type'] == 'Enforcement' ].groupby('region')['intervention_type'].count()
intervention_type_Study_count=df2[df2['intervention_type'] == 'Study' ].groupby('region')['intervention_type'].count()

In [47]:
intervention_type_Citizen_Media_Business_Engagement_Participation_count=df2[df2['intervention_type'] == 'Citizen/Media/Business Engagement/Participation' ].groupby('region')['intervention_type'].count()

In [48]:
import functools

df2s = [intervention_type_Awareness_count, intervention_type_Transparency_count,
       intervention_type_Assessment_count,intervention_type_Accountability_count,
       intervention_type_Participation_count,intervention_type_Enforcement_count,
       intervention_type_Study_count,intervention_type_Citizen_Media_Business_Engagement_Participation_count]

df_intervention_type= functools.reduce(lambda left,right: pd.merge(left,right,on=["region"], how="outer"), df2s).fillna(0)
df_intervention_type.head()

,intervention_type_x,intervention_type_y,intervention_type_x,intervention_type_y,intervention_type_x,intervention_type_y,intervention_type_x,intervention_type_y
region,,,,,,,,
East Asia and Pacific (EAP),19,33,6.0,34,20,9.0,1.0,0.0
Europe and Eurasia (E&E),15,44,2.0,39,17,19.0,0.0,0.0
Global,3,2,0.0,1,2,0.0,1.0,0.0
Latin America and Caribbean (LAC),21,35,1.0,32,19,5.0,0.0,0.0
Middle East and North Africa (MENA),13,29,1.0,24,24,5.0,0.0,1.0

In [49]:
df_intervention_type.columns =['intervention_type_Awareness_count', 'intervention_type_Transparency_count',
       'intervention_type_Assessment_count','intervention_type_Accountability_count',
       'intervention_type_Participation_count','intervention_type_Enforcement_count',
       'intervention_type_Study_count','intervention_type_Citizen_Media_Business_Engagement_Participation_count']

In [50]:
df_intervention_type.head()

,intervention_type_Awareness_count,intervention_type_Transparency_count,intervention_type_Assessment_count,intervention_type_Accountability_count,intervention_type_Participation_count,intervention_type_Enforcement_count,intervention_type_Study_count,intervention_type_Citizen_Media_Business_Engagement_Participation_count
region,,,,,,,,
East Asia and Pacific (EAP),19,33,6.0,34,20,9.0,1.0,0.0
Europe and Eurasia (E&E),15,44,2.0,39,17,19.0,0.0,0.0
Global,3,2,0.0,1,2,0.0,1.0,0.0
Latin America and Caribbean (LAC),21,35,1.0,32,19,5.0,0.0,0.0
Middle East and North Africa (MENA),13,29,1.0,24,24,5.0,0.0,1.0

In [51]:
df_intervention_type.reset_index(level=0, inplace=True)

In [52]:
df_intervention_type.sort_values(by = ['region'], ascending = 1, inplace = True)

### Combine all the datasets so far

In [53]:
# compile the list of dataframes you want to merge
data_frames = [df1_median, df1_mean, df1_min, df1_max,df_intervention_type]

In [54]:
from functools import reduce
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['region'],
                                            how='outer'), data_frames)

In [55]:
df_merged.head()

,region,desc_senti_score_median,desc_sub_score_median,res_senti_score_median,res_sub_score_median,desc_senti_score_mean,desc_sub_score_mean,res_senti_score_mean,res_sub_score_mean,desc_senti_score_min,...,res_senti_score_max,res_sub_score_max,intervention_type_Awareness_count,intervention_type_Transparency_count,intervention_type_Assessment_count,intervention_type_Accountability_count,intervention_type_Participation_count,intervention_type_Enforcement_count,intervention_type_Study_count,intervention_type_Citizen_Media_Business_Engagement_Participation_count
0,East Asia and Pacific (EAP),0.000000,0.432083,0.000000,0.387716,0.010962,0.425391,0.034803,0.373678,-0.500000,...,0.657143,0.866667,19,33,6.0,34,20,9.0,1.0,0.0
1,Europe and Eurasia (E&E),0.000000,0.341667,0.000000,0.300000,0.025561,0.371607,-0.007075,0.316213,-0.500000,...,0.530000,0.866667,15,44,2.0,39,17,19.0,0.0,0.0
2,Global,-0.096886,0.317593,0.150000,0.500000,-0.096886,0.317593,0.150000,0.500000,-0.096886,...,0.150000,0.500000,3,2,0.0,1,2,0.0,1.0,0.0
3,Latin America and Caribbean (LAC),0.000000,0.233333,0.011111,0.295000,-0.038425,0.342563,0.040653,0.279253,-0.800000,...,0.400000,0.688889,21,35,1.0,32,19,5.0,0.0,0.0
4,Middle East and North Africa (MENA),0.078571,0.241667,0.000000,0.300000,0.082247,0.308849,0.026355,0.319697,-0.500000,...,0.600000,0.808333,13,29,1.0,24,24,5.0,0.0,1.0

In [56]:
df_merged.shape #the number of regions are preserved

(7, 25)

In [58]:
df_merged.to_csv('region_level_Jen.csv')